/* ****** */
/* COMMON */
/* ****** */

* {
    padding: 0;
    margin:0;
    border: 0;
}

ul {
    list-style: none;
}

body {
    font-family: 'Arial', sans-serif;
    overscroll-behavior-y: none;
}

.pleaseWaitLogo {
    text-align: center;
    margin-top: 5rem;
}

.pleaseWait {
    text-align: center;
    font-weight: bold;
    padding-top: 2em;
    padding-bottom: 2em;

    background-image: url('medias/wait.gif');
    background-size: 1em;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

/* slot based */

.empty {
    display: none !important;
}

.link {
    cursor: pointer;
}

.link.closed-link {
    opacity: 0.2;
    pointer-events: none;
}





/* better text */
.bt.heading {
    
}

.bt.anchor, .bt.anchor:visited {
    color: black;
}

.bt.img,
.bt.media {
    max-width: 100%;
}


.bt.media.invalid {
    display: none;
}





/**************/
/* BASE SCENE */
/**************/

.scene {
    position: fixed;
    top: 0;
    left: 0%;
    
    height: 100%;
    width: 100%;

    background: white;
}

/* scene lifecycle */

.scene.inBackground {
    left: -100%;
}

.scene.inFront {
    left: 0;
    z-index: 1;
}


/*********************/
/* COMMON COMPONENTS */
/*********************/

/* CONTAINER & CARD */

.container {
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container.carded  {
    padding: 2rem;

    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
}

.container .card {

    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    padding: 1rem;

    background: white;

    max-width: 600px;
    margin: auto;

    text-align: center;
    position: relative;
}

.container .card .content {

    width: 100%;
    height: 100%;
    overflow-y: scroll;

}






/* AUDIO COMPONENT */ 

/*
.audio_block .audio_control {
    width: 3.5rem;
    top:1rem;
    right: 1rem;
    position: absolute;
}

.audio_block .audio_control {
    display: none;
}

.media_can_play .audio_block .audio_control.play {
    display: block;
} 

.media_can_pause .audio_block .audio_control.pause {
    display: block;
} 
*/




.audio_block {
    top:1rem;
    right: 1rem;
    position: absolute;
}

.audio_block .audio_control {
    width: 3.5rem;
    display: inline-block;
}

.media_can_play .audio_block .audio_control.play   { display: inline-block; } 
.media_can_pause .audio_block .audio_control.pause { display: inline-block; } 
.media_can_play .audio_block .audio_control.pause   { display: none; } 
.media_can_pause .audio_block .audio_control.play { display: none; } 


.audioCursor {
    display: none;
}

.audioCursor .time {
    display: none;
}

.audioCursor.width {
    background-color: black;
    height: 1px;
    width: 0;
}

.audioCursor.left {
    background-color: black;
    height: 3px;
    width: 3px;
    position: absolute;
    left: 0;
}


/* nav buttons */

.nav {
    position: absolute;
    top: 0rem;
    left: 0rem;

    height: 3rem;
    width: 3rem;
}

.nav img {
    width: 100%;
}


.nav.secondaryNav {
    right: 0rem;
    left: auto;
}


/* items */


.items.bottom-menu {
    padding: 0.5em 2em;
    width: calc(100% - 5em);
    height: calc(100% - 1em);

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    max-width: 700px;
    margin: auto;
}

.items.bottom-menu .item {
    display: block;
    height: 100%;


}


/* standardButton */

.standardButton {
    background-color: black;
    color: white;
    padding: 0.5em;
}


/*************/
/* TEMPLATES */
/*************/

/* splash template */

.tpl_splash {

}

.tpl_splash .front {
    display: block;
    margin: 1rem;
}

.tpl_splash .contentBlock {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.tpl_splash .contentBlock .text {
    padding: 1em;
}



/* choices template */


.tpl_choices .main_text {
    margin-top: 1em;
    margin-bottom: 1em;
}

.tpl_choices .items {
    padding-top: 0em;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tpl_choices .items .item {
    min-width: 4rem;
    list-style: none;
    text-align: center;

    background-color: black;
    color: white;

    padding: 1em;
    margin-top: 1em;


}

.tpl_choices .items .item.with-slot-bg {
    padding-top: 5em;

    background-repeat: no-repeat;
    background-size: 5em auto;
    background-position: center top;
}



.tpl_choices.has_audio .bt.heading {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}



/* content template */

.tpl_content .container {
    width: 100%;
    height: 100%;
}

.tpl_content header {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: calc(30% - .5em);

    border-bottom: .5em solid white;

    background-image: url('medias/wait.gif');
    background-size: 1em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}





.tpl_content.fullscreen-diaporama header{
    height: 100%;
    width: 100%;
    border: 0;
    z-index: 100;
}

.tpl_content .mainContent {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    height: calc(70% - 4rem);
    overflow-y: scroll;
}

.tpl_content footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4rem;
    padding: 0em;
    text-align: center;
}


.tpl_content.has_not_items_image .mainContent {
    height: calc(70% - 0rem);
}

.tpl_content.has_not_items_image footer {
    display: none;
}

.tpl_content .audio_control {
    top:1em;
    right: 1em;
}


.tpl_content header .diaporama {
    height: 100%;
}

.tpl_content header .diaporama img {
    object-fit: cover;
    display: block;
    height: 100%;
    background: black;
}

.tpl_content.fullscreen-diaporama.fullview header .diaporama img {
    object-fit: contain;

}

.tpl_content header .navButtons img {
    position: absolute;
    top: calc(50% - 1.5em);
    height: 3em;

    left: 0;
    z-index: 1;
}

.tpl_content.fullscreen-diaporama header .navButtons .diaporama-next,
.tpl_content.fullscreen-diaporama header .navButtons .diaporama-previous {
    top: calc(45% - 2.5em);
    height: 5em;
}

.tpl_content header .navButtons .diaporama-close {
    display: none;
}


.tpl_content.fullscreen-diaporama header .navButtons .diaporama-close {
    display: block;
}

.tpl_content.fullscreen-diaporama header .mapButton,
.tpl_content.fullscreen-diaporama header .closeButton,
.tpl_content.fullscreen-diaporama header .backButton {
    display: none;
}

.tpl_content.fullscreen-diaporama .nav {
    display: none;
}

.tpl_content header .navButtons .diaporama-next {
    left: auto;
    right: 0;
}

.tpl_content header .navButtons .diaporama-close {
    left: auto;
    top: 0.5em;
    right: 0.5em;

    height: 2em;
}

.tpl_content header .legendContainer {
    display: none;
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    color: white;
    padding: 1em;

    text-align: center;

    transition: transform 0.2s;
    transform-origin: bottom;
}

.tpl_content.fullscreen-diaporama header .legendContainer {
    display: block;
}

.tpl_content.fullview header .legendContainer {
    transform: scaleY(0);
    transform-origin: bottom;
}




.tpl_content .mainContent{
    background-size: cover;
}



.tpl_content .mainContent .bt.heading {
    font-size: 1.3em;
    padding-right: 2em;
}

.tpl_content .mainContent .body {
    margin: 0em 0em;
    background: white;
    padding: 2em;
    height: calc(100% - 4em);
    overflow-y: scroll;
}



/*without diaporama */


.tpl_content.has_not_images header {
    background-image: none;
    height: 3.5em;
}

.tpl_content.has_not_images .diaporama {
    display: none;
}


.tpl_content.has_not_images .mainContent {
        top: 0em;
        height: calc(100% - 0rem);
}

.tpl_content.has_not_images.has_not_items_image .mainContent {
    height: calc(100% - 0rem);
}



@media (min-width: 900px) , (orientation: landscape) {
        
    .tpl_content header {
        top: 0;
        left: 0;
        width: calc(50% - 0.5em);
        height: 100%;

        border-bottom: 0;
        border-right: .5em solid white;
    }


    .tpl_content header {
        width: 50%;
        border: 0;
    }

    .tpl_content .mainContent {
        top: 0;
        left: 50%;
        right: 0;
        height: calc(100% - 4rem);
    }

    .tpl_content footer {
        left: 50%;
        right: 0;

    }


    .tpl_content.has_not_items_image .mainContent {
        height: calc(100% - 0rem);
    }

    .tpl_content.has_not_items_image footer {
        display: none;
    }



    /* no diapo */
    .tpl_content.has_not_images .mainContent {
        top: 3.5em;
        height: calc(100% - 4rem);
    }



    .tpl_content.has_not_images header {
        width: 100%;


    }




    .tpl_content.has_not_images footer,
    .tpl_content.has_not_images .mainContent {
        left:25%;
        right:25%;
    }


}

/* image only */
.tpl_content .items .item {
    background-size: contain;
    min-width: 5em;
    background-repeat: no-repeat;
    background-position: center center;

    position: relative;
}

/* image + text */ 
.tpl_content.has_items_text .items .item {
    background-size: 2em auto;
    background-position: top center;
}

.tpl_content .items .item .wrapper { 
    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;
}








/* map template */

.tpl_map .mapContainer {
    height: calc(100% - 4rem);
    width: 100%;
}


.tpl_map footer {
    height: 4rem;
}

.tpl_map footer body {
    height: 100%;
}

.tpl_map .items.bottom-menu {
    max-width: 300px;
}


@media (max-width: 1024px) and (orientation: landscape) {
    .tpl_map .mapContainer {
        height: calc(100% - 3.5rem);
    }

    .tpl_map footer {
        height: 3.5rem;
    }
}


.tpl_map.has_not_items_image footer {
    display: none;
}

.tpl_map.has_not_items_image .mapContainer {
    height: 100%;
}




.tpl_map .map-marker {
  background-color: rgba(255,255,255,0.7);
  background-size: contain;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  cursor: pointer;

  z-index: 0;
}



.tpl_map .map-popup {
    text-align: center;
    size: 1em;
    padding: 0.5em;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid white; 

    width: 150px;
    z-index: 1000;

    top: -20px; /* map box */
}




.tpl_map .map-marker.hidden, .tpl_map  .map-popup.hidden {
    opacity: 0;
    pointer-events: none;
}



.tpl_map .map-marker.map-level-1 {
  
  width: 50px;
  height: 50px;

  background-color: rgba(255,255,255,0.8);
}

.tpl_map .map-popup.map-level-1 {
  border: 2px solid white; 
  background-color: rgba(0,0,0,0.8);
  top: -30px; 
}


.tpl_map .map-marker.withImage{
    background-repeat: no-repeat;
    background-color: transparent;
    border-radius: 0;
    border: 0;
}






/* tpl_text_input */

.tpl_text_input .container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;

    overflow-y: scroll;
}

.tpl_text_input .form {
    text-align: center;
}

.tpl_text_input .formItem {
    margin: 1em 0;
}

.tpl_text_input .formItem.text input {
    font-size: 1.3em;
    border: 1px solid grey;
    text-align: center;

    padding: 0.5em;
    display: inline-block;

    width: calc(100% - 1em);
}

.tpl_text_input .formItem.button button {
    font-size: 0.8em;
    text-transform: uppercase;

    padding: 0.5em;
    margin-top: 1em;
    display: inline-block;
}  

.tpl_text_input .success_content,
.tpl_text_input .failure_content {
    display: none;
    margin: 1em;
}


.tpl_text_input.pattern_ok .success_content {
    display: block;
}

.tpl_text_input.pattern_nok .failure_content {
    display: block;
}








/* tpl_qrcode */

.tpl_qrcode .container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;

    overflow-y: scroll;
}

.tpl_qrcode .form {
    text-align: center;
}

.tpl_qrcode .formItem {
    margin: 1em 0;
}

.tpl_qrcode .formItem.file input {
    display: none;
}


.tpl_qrcode .formItem.button button {
    font-size: 0.8em;
    text-transform: uppercase;

    padding: 0.5em;
    margin-top: 1em;
    display: inline-block;
}  

.tpl_qrcode .error_content,
.tpl_qrcode .failure_content,
.tpl_qrcode .processing_content  {
    display: none;
    margin: 1em;
}


.tpl_qrcode.qrcode_error .error_content {
    display: block;
}

.tpl_qrcode.qrcode_failure .failure_content {
    display: block;
}

.tpl_qrcode.qrcode_processing .processing_content {
    display: block;
}



.tpl_qrcode .bypassButton {
    position: absolute;
    bottom: 1rem;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 0.9em;
}





/**/
.videoFrame {
    background: black;
}



.tpl_video .items {

    pointer-events: none;

    position: absolute;
    bottom: 6em;
    z-index: 1;
    background: transparent;
    width: 100%;


    padding-top: 0em;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tpl_video .items .item {
    pointer-events: auto;
    cursor: pointer;

    min-width: 4rem;
    list-style: none;
    text-align: center;

    background-color: black;
    color: white;

    padding: 1em;
    margin-top: 1em;


}





/* info */

.tpl_information .body {
    overflow-y: scroll;

    max-width: 600px;
    margin: auto;
    position: relative;

    height: 100%;
}


.tpl_information .infos {
    padding: 4rem 0rem;
}

.tpl_information .infos .info {
    padding: 1em 0;
}

.tpl_information.has_images .infos .info {
    background-repeat: no-repeat;
    background-position: 0.4em 0.8em;
    background-size: 2em;
    padding-left: 3em;
}





@media (max-width: 600px) {
    .tpl_information .infos .info {
        padding-left: 1em;
        padding-right: 1em;
    }

}
















